.form {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: stretch;
    background: var(--tg-theme-secondary-bg-color);
    color: var(--tg-theme-text-color);
}