.form {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Magic here */
    padding: 20px;
    background: var(--tg-theme-secondary-bg-color);
    color: var(--tg-theme-text-color);
}