.form {
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    align-items: stretch;
    background: var(--tg-theme-secondary-bg-color);
    color: var(--tg-theme-text-color);
}

.selectF {
    padding: 10px;
    margin-top: 27px;
}

h6, h5 {
    color: var(--tg-theme-link-color); 
}

.my-heading {
    margin-bottom: -1.0rem;
  }

  #myInput {
    z-index: 3; /* Set higher z-index for form1 */
  }

  #myDate {
    z-index: 2; /* Set higher z-index for form1 */
  }
  
  #myForms {
    z-index: 1; /* Set lower z-index for form2 */
  }
  
  #myJudge {
    z-index: 0; /* Set lower z-index for form3 */
  }
  
