body {
  background: var(--tg-theme-secondary-bg-color);
  color: var(--tg-theme-text-color);
}

.App {
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}

.selectF {
  -webkit-appearance: none; /* Remove default styling */
  -moz-appearance: none;
  appearance: none;
  margin-top: 27px;
}

.form {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 20px;
    color: var(--tg-theme-link-color);
    background: var(--tg-theme-bg-color);
}