
.App {
  display: block;
  position: relative;
  text-align: center;
}

body {
  background: var(--tg-theme-bg-color);
  color: var(--tg-theme-text-color);
}

.selectF {
    padding: 10px;
    margin-top: 27px;
}