* {
  background: var(--tg-theme-bg-color);
  color: var(--tg-theme-text-color);
}

body {
  min-height: 100vh; /* will cover the 100% of viewport */
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 100px; /* height of your footer */
  overflow: hidden;
  background: var(--tg-theme-bg-color);
  color: var(--tg-theme-text-color);
}